.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #56ed5b;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 24px 2px 0px 444px rgba(57, 55, 55, 0.134);
    max-width: 500px;
    width: 100%;
  }
  
  .form label {
    font-weight: bold;
  }
  
  .form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 70px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form hr {
    margin: 15px 0;
  }
  
  .form button {
    background-color: #1fdf2b;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .form button:hover {
    background-color: #0d945c;
  }
  