.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .error {
    color: red;
    font-size: 18px;
    font-weight: bold;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    margin-top: 10px;
  }
  