/* index.css */
.fotoLu {
  background-image:url('../assets/lu.png') ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/galaxy.jpg'); /* Establece la imagen de fondo aquí */
  background-repeat: no-repeat;
  background-size: cover;
  /* Otras propiedades de fondo y estilos globales */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
